<div class="container">
    <img src="~/images/equip.png" alt="equipment" class="d-block w-100 img-responsive" />
    <hr />
    <div class="row">
        <center>
            <h1>
                - OUR PRODUCTS -
            </h1>
        </center>
    </div>
    <hr />
    <br />
    <!--first row-->
    <div class="row">
        <div class="col-md-3">
            <div class="cardText">
                <center>
                    <h3>Tractors</h3>
                </center>
            </div>
            <div class="cardBox">
                <img src="~/images/fendt1.jpg" alt="machinery" class="d-block w-100 img-responsive" />
                    <!--https://www.fendt.com/us/tractors/700-vario-my-2020-highlights-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="cardText">
                <center>
                    <h3>Combines</h3>
                </center>
            </div>
            <div class="cardBox">
                <img src="~/images/fendtcombine.jpg" alt="machinery" class="d-block w-100 img-responsive" />
                    <!--ideal 10t-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="cardText">
                <center>
                    <h3>Front-End Loaders</h3>
                </center>
            </div>
            <div class="cardBox">
                <img src="~/images/frontcat.jpg" alt="machinery" class="d-block w-100 img-responsive" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="cardText">
                <center>
                    <h3>Augers</h3>
                </center>
            </div>
            <div class="cardBox">
                <img src="~/images/auger.jpg" alt="machinery" class="d-block w-100 img-responsive" />
                    <!--https://www.agweb.com/article/kinze-expands-grain-cart-line-develops-planter-prototype-NAA-katie-humphreys-->
            </div>
        </div>
    </div>

    <!--Second row-->
    <div class="row" id="rowSpacing">
        <div class="col-md-3">
            <div class="cardText">
                <center>
                    <h3>Cultivators</h3>
                </center>
            </div>
            <div class="cardBox">
                <img src="~/images/Cultivator.jpg" alt="machinery" class="d-block w-100 img-responsive" />
                    <!--https://www.ongmac.com.au/product/new-equipment/agricultural-equipment/attachments-and-machinery/farm-implements/farm-implements-cultivators-harrows/s-tine-cultivator/-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="cardText">
                <center>
                    <h3>Plows</h3>
                </center>
            </div>
            <div class="cardBox">
                <img src="~/images/plow.jpg" alt="machinery" class="d-block w-100 img-responsive" />
                    <!--Kuhn Multi Master 123 4 - NSH-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="cardText">
                <center>
                    <h3>Sprayers</h3>
                </center>
            </div>
            <div class="cardBox">
                <img src="~/images/sprayer.jpg" alt="machinery" class="d-block w-100 img-responsive" />
                    <!--Kuhn Metris 4100 sprayer-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="cardText">
                <center>
                    <h3>Planters</h3>
                </center>
            </div>
            <div class="cardBox">
                <img src="~/images/planter.jpg" alt="machinery" class="d-block w-100 img-responsive" />
            </div>
        </div>
    </div>

    <!--Third row-->
    <div class="row">
        <div class="col-md-3">
            <div class="cardText">
                <center>
                    <h3>Mowers</h3>
                </center>
            </div>
            <div class="cardBox">
                <img src="~/images/fendtmower.jpg" alt="machinery" class="d-block w-100 img-responsive" />
                    <!--2021 FENDT CUTTER 310TL-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="cardText">
                <center>
                    <h3>Rakes</h3>
                </center>
            </div>
            <div class="cardBox">
                <img src="~/images/rotaryrake.jpg" alt="machinery" class="d-block w-100 img-responsive" />
                    <!--https://www.agriculture-xprt.com/downloads/dragonfly-model-7700-double-rotary-rake-brochure-680433-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="cardText">
                <center>
                    <h3>Balers</h3>
                </center>
            </div>
            <div class="cardBox">
               <img src="~/images/baler.jpg" alt="machinery" class="d-block w-100 img-responsive" />
                    <!--kuhn baler-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="cardText">
                <center>
                    <h3>Manure Spreaders</h3>
                </center>
            </div>
            <div class="cardBox">
                <img src="~/images/manure.jpg" alt="machinery" class="d-block w-100 img-responsive" />
                    <!--2021 KUHN KNIGHT PS150-->
            </div>
        </div>
    </div>
     <br />
     <hr />
    <div class="row">
        <center>
            <h1>
                - FOR MORE PRODUCTS CONTACT US-
            </h1>
        </center>
    </div>