<div class="container">
    <img src="~/images/tech.jpg" alt="equipment" class="d-block w-100 img-responsive" />
    <hr /><div class="row">
        <center>
            <h1>
                - OUR TECHNOLOGY -
            </h1>
        </center>
    </div>
</div>
<hr />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-6" id="rowSpacing">
            <img src="~/images/cropx.jpeg" alt="CropX" class="d-block w-100 img-responsive" />
        </div>
        <div class="col-md-6 indentStyle">
            CropX: An Israeli startup, CropX sells cloud-based software which aims to boost crop yields by
            focusing on saving water and energy. With in-field sensors, the system automatically delivers
            the correct amount of water to each plant instead of watering a whole field at a time.
            Ag cred: Founded in 2013, the company has raised $10 million.
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" id="rowSpacing">
            <img src="~/images/farmerEdge.jpeg" alt="FarmerEdge" class="d-block w-100 img-responsive" />
        </div>
        <div class="col-md-6 indentStyle">
            Farmer’s Edge: A hardware and software product that uses satellite imagery and precision technology
            to help growers identify, map and manage farmland variability. Ag cred: To date, the startup has
            raised $94.3 million in funding.
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" id="rowSpacing">
            <img src="~/images/drone.jpeg" alt="drone" class="d-block w-100 img-responsive" />
        </div>
        <div class="col-md-6 indentStyle">
            High-tech drones allow farmers, and the drone pilots that operate them, to increase efficiency in
            certain aspects of the farming process. From crop monitoring to planting, livestock management,
            crop spraying, irrigation mapping, and more.

            Drones are equipped with technology like propulsion systems, infrared cameras, GPS and navigation systems,
            programmable controllers, and automated flight planning.

            There are multiple uses for agricultural drones, including:

            -Scouting land and crops
            -Checking for weeds and spot treating plants
            -Monitoring overall crop health
            -Managing livestock and monitoring for health issues
            -And more

            <!--https://tinyurl.com/y6alczba-->
            <!--https://tinyurl.com/yyu4qg38-->
            <!--https://tinyurl.com/yyt6ojva-->
        </div>
    </div>
</div>