
<div class="container">
    <div class="row">
        <img src="~/images/machinery.jpg" alt="multibanner" class="d-block w-100 img-responsive" />
    </div>
    <br /><hr />
    <center><h1>- OUR MISSION -</h1></center><hr />
    <p>
        <center>
            <b>
                <i>
                    To work together in agricultural community and provide eco-friendly solutions!!
                </i>
            </b>
        </center>
    </p>
    <br /><hr />
    <center><h1>- ABOUT US -</h1></center><hr />
    <div class="row">
        <div class="col-md-6">
            <br /><br />
            <p>
                Agriculture supports other businesses in the farming community. Our company provides services that
                specialize in agricultural digital technologies that can provide eco friendly solutions.
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/images/globe1.jpg" alt="" class="d-block w-100 img-responsive" />
        </div>
    </div>
</div>


