@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<br/>
<div>
    <div class="row">
         <div class="col">
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr>Phone:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
         <div class="col">
             <img src="~/images/contact.jpg" />
        </div>
    </div>
</div>

