<div class="container">
    <img src="~/images/combine.png" alt="equipment" class="d-block w-100 img-responsive" />
    <hr /><div class="row">
        <center>
            <h1>
                - OUR CROPS -
            </h1>
        </center>
    </div>
    <hr />
</div>

<br />

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="~/images/wheat.jpg" class="card-img-top" alt="wheat">
                <div class="card-body">
                    <h5 class="card-title">WHEAT</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Rolls, bread, baked goods</li>
                    <li class="list-group-item">Cookies, cakes</li>
                    <li class="list-group-item">Pasta and noodles</li>
                    <li class="list-group-item">Wheat beer</li>
                    <li class="list-group-item">Packaged convenience foods, soups, sauces</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/images/barley.jpg" class="card-img-top" alt="barley">
                <div class="card-body">
                    <h5 class="card-title">BARLEY</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Hulled or whole-grain barley</li>
                    <li class="list-group-item">Flour</li>
                    <li class="list-group-item">Flakes</li>
                    <li class="list-group-item">Grits</li>
                    <li class="list-group-item">Malt</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/images/canola.jpg" class="card-img-top" alt="canola">
                <div class="card-body">
                    <h5 class="card-title">CANOLA</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Oil</li>
                    <li class="list-group-item">Canola Meal(Livestock Feed)</li>
                    <li class="list-group-item">Fried snack foods</li>
                    <li class="list-group-item">Breads</li>
                    <li class="list-group-item">Cookies</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/images/Corn.jpg" class="card-img-top" alt="corn">
                <div class="card-body">
                    <h5 class="card-title">CORN</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cornstarch</li>
                    <li class="list-group-item">Flour</li>
                    <li class="list-group-item">Peanut butter</li>
                    <li class="list-group-item">Corn syrup</li>
                    <li class="list-group-item">Bakery products</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/images/soy.jpg" class="card-img-top" alt="soybean">
                <div class="card-body">
                    <h5 class="card-title">SOYBEAN</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Soymilk</li>
                    <li class="list-group-item">Soy sauce</li>
                    <li class="list-group-item">Oil</li>
                    <li class="list-group-item">Salad dressings</li>
                    <li class="list-group-item">Mayonnaises</li>
                </ul>
            </div>
        </div>
    </div>

</div>